.overhearing > div {
  width: 320px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.overhearVidContainer > div {
	height: auto; 
}

.row-fluid .spanVid {
	width: 18.3425414365%%;
}
.row-fluid .spanTable {
	width: 59.0000552485%%;
}

.roundedCorners {
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
    font-size: 20px;
}