.overhearing > div {
  display: block;
  width: 320px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.overhearVidContainer > div {
	height: auto; 
}

.row-fluid .spanVid {
	width: 18.3425414365%%;
}
.row-fluid .spanTable {
	width: 59.0000552485%%;
}

.roundedCorners {
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
    font-size: 20px;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menuContainer{
     position:absolute;
    width:100%;
     background-color:#A3155C;
     overflow:hidden;
     height:10px;
     padding:5px 5px 12px 5px;
}
#ddMenu{
    position:absolute;
    width:100%;
    display:none;
}
#grippie{
     height:16px;
     display:inline-block;
     position:absolute;
     left:50%;
     bottom:0px;
     color:#FFF;
     -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width:40px;
    font-size:12px;
}