.overhearing > div {
  width: 320px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.overhearVidContainer > div {
	height: auto; 
}

.row-fluid .spanVid {
	width: 18.3425414365%%;
}
.row-fluid .spanTable {
	width: 59.0000552485%%;
}

.roundedCorners {
	-moz-border-radius: 6px;
	border-radius: 6px;
}